body {
  text-align: center;
  margin: 0;
  padding: 0px;
  margin-top: 55px;
  position: absolute;
  background-image: url(./Images2/rm222batch5-kul-06.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#form {
  border-style: double;
  margin-left: 30rem;
  margin-right: 30rem;
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  padding: 3rem;
  padding-bottom: 1rem;
  background: #ffeaee;
  border-radius: 10px;
  align-items: center;
}
.input {
  border-style: double;
  border-radius: 20px;
  font-family: cursive;
}
#background {
}
#back {
  bottom: ;
}
